.item-add-component {
    &__item-group {
        max-height: 500px;
        overflow-y: scroll;
    }

    &__item-name {
        cursor: pointer;
        border-radius: 0;
        border-top-left-radius: var(--bs-border-radius);
        border-bottom: none;
    }

    &__item-remove-button {
        svg {
            max-width: 18px;
            max-height: 18px;
        }
    }

    &__item-price {
        border-radius: 0;
        border-bottom-left-radius: var(--bs-border-radius);
        border-right: none;
    }

    &__item-unit {
        border-left: none;
    }
}