<div data-controller="ShopCreateAjaxComponent"
	 data-action="ModalComponent:beforeShowed->ShopCreateAjaxComponent#handleMessageBeforeShowed"
	 data-group-id="{{ data.groupId }}"
	 data-modal-component-content>

	{% set langDto = lang %}
	{% set dataDto = data %}
	{% component ShopCreateComponent with { data: data.shopCreateComponentDto } %}

	{% block validation %}
	{{ component('AlertValidationComponent', { data: alertValidationDto }) }}
	{% endblock validation %}

	{% block products %} {% endblock products %}

	{% block buttons %}

	<button type="button"
			class="btn  btn-transparent  d-flex  flex-row  align-items-center  me-4"
			data-js-back-button>

		{% include "arrow-back-icon.svg" %}
		{{ langDto.backButtonLabel }}
	</button>

	{{ component('ButtonLoadingComponent', { data: shopCreateButtonDto })}}

	{% endblock buttons %}

	{% endcomponent %}

</div>