.notification-list-item__image {


    svg {
        width: 48px;
        height: auto;
        transform: rotateY(180deg);
    }
}

@include media-breakpoint-down(sm) {
    .notification-list-item__image {
        display: none !important;
    }
}