{% extends "Components/HomeSection/ItemsListAjax/ItemsListAjaxComponent.html.twig" %}

{% block buttons %}

<button type="button"
        class="btn  btn-secondary  w-100"
        data-js-back-button>

    {% include "arrow-back-icon.svg" %}

    <span>
        {{ lang.buttonBackLabel }}
    </span>
</button>

{% endblock buttons %}