<div data-controller="ListOrdersHomeSectionComponent"
     class="contaniner">

    {{ component('HomeSectionComponent', { data: data.homeSectionComponentDto } ) }}
    {{ component('ModalComponent', { data: data.listOrdersInfoModalDto } ) }}
</div>