{% extends "Components/HomeSection/ItemInfo/ItemInfoComponent.html.twig" %}

{% block mainFirstBlock %}
<h3 class="lead">{{ lang.dateToBuy }}:</h3>
<p class="class"
   data-js-item-date-to-buy>
    { item dateToBuy }
</p>
{% endblock mainFirstBlock %}
{% block mainSecondBlock %}
<h3 class="lead">{{ lang.description }}:</h3>
<p class="mt-3"
   data-js-item-description>
    { item description }
</p>
{% endblock mainSecondBlock %}