.image-avatar {
    width: 170px;

    &__img--svg {
        width: 170px;
        height: 170px;
    }
}


[data-bs-theme="dark"] {

    .image-avatar {

        &__img--svg-theme {
            background-color: #fff0;
            filter: invert(100);
            border: 1px solid $gray-100;
        }
    }
}