<div data-controller="ImageAvatarComponent"
     data-GroupModifyComponent-target="imageAvatar"
     data-action="ImageAvatarComponentEventHandler:onAvatarSetImageEvent@window->ImageAvatarComponent#handleOnSetImageEvent"
     class="position-relative"
     style="max-width: 300px; max-height: 300px">

     <img src="{{ data.imageSrc }}"
          class="w-100  img-thumbnail"
          alt="{{ data.imageAlt }}"
          data-no-avatar="{{ data.imageNoAvatar }}"
          data-js-image />

     <div class="position-absolute  top-0  end-0  mt-3  me-3"
          role="button"
          data-js-button-remove>

          {% include 'image_avatar/remove-icon-black-32x32.svg' %}
     </div>
     <div class="position-absolute  top-0  end-0  mt-3  me-3  d-none"
          role="button"
          data-js-button-remove-undo>

          {% include 'image_avatar/undo-icon-black-32x32.svg' %}
     </div>
</div>