.group-list-item__image {
    width: 75px;

    svg {
        width: 75px;
        height: 75px;
    }
}

.group-list-item__group-users-button {
    svg {
        width: 24px;
        height: 24px;
    }
}