.list-groups__item {
    .group-list-item__image {
        width: 75px;
        max-height: 90px;

        svg {
            width: 100%;
            height: auto;
        }
    }

    .group-list-item__group-users-button {
        max-width: 100px;

        svg {
            width: 24px;
            height: auto;
        }
    }

    .group-list-item__group-select-button {
        max-width: 150px;

        svg {
            color: $warning;
            width: 30px;
            height: auto;
        }
    }

    .group-list-item__button {
        max-width: 90px;

        svg {
            width: 24px;
            height: auto;
        }
    }
}

.list-groups__separator {
    list-style-type: none;
}