.accordion-button {
    font-size: 1.2rem;

    &:not(.collapsed) {
        background-color: transparent;
        color: var(--bs-accordion-btn-color);
        box-shadow: inset 0 0 0 transparent;
    }

    &:focus {
        box-shadow: none;
        border-color: rgba(0, 0, 0, .125);
    }
}

.accordion-item {
    border: 0;
}

.order-info-bought {

    &__icon {
        margin-right: 5px;
        cursor: help;

        svg {
            height: 32px;
        }

        &--bought {
            color: green;
        }

        &--not-bought {
            color: lightgrey;
        }
    }

}

.order-info__table {
    .table__title {
        padding: 0;
        vertical-align: middle;
    }

    .table__value {
        text-align: right;
        vertical-align: middle;
    }
}