.header {
    background-color: $home-page-header-color-1;
    @include gradient-directional($home-page-header-color-1, $home-page-header-color-2, 135deg);

    .navigation {
        .navigation__logo {
            width: 120px;
        }

        .login-and-signup {
            &:last-child {
                border-left: 1px solid;
            }
        }

        .btn-nav {
            color: $light;

            &:hover {
                border: 1px solid $light;
            }

            svg {
                width: 22px;
                height: 22px;
            }
        }

        .btn-user {
            .btn-user__image {
                width: 40px;
                height: 40px;
                border: 1px solid $home-page-header-color-2;
            }
        }

        .user-menu {
            background-color: $home-page-header-color-2;
            border-color: $home-page-header-color-1;

            .menu-item__link {
                color: $white;
                border: 0;
                border-color: $home-page-header-color-2;
                background-color: $home-page-header-color-2;
                text-decoration: none;

                .user-profile__name {
                    margin-left: 5px;
                }

                .menu-item__name {
                    margin-left: 5px;
                }

                .menu-item__logout {

                    svg {
                        color: $red;
                    }
                }

                svg {
                    height: 24px;
                    width: 24px;
                }

                img {
                    border: 1px solid $home-page-header-color-2;
                    border-radius: 2px;
                    height: 30px;
                    width: 30px;
                }

                &:hover {
                    color: $white;
                    background-color: $home-page-header-color-1;
                }
            }
        }
    }

    .content {
        margin-top: 5rem;
        margin-bottom: 7rem;


        .image-main {
            max-width: 100%;
        }

        .list-nav-section {
            .list-nav-section__item {
                border: 1px solid transparent !important;

                &:hover {
                    border: 1px solid $white !important;
                }

                svg {
                    margin-left: 1rem;
                    width: 73px;
                    height: 73px;
                }
            }
        }
    }

    .border-bottom {
        height: 1.42rem;

        svg {
            color: $white;
            height: 1.2rem;
            width: 100%;
        }
    }
}

.body {
    margin-top: 1rem;
    margin-bottom: 5rem;

    .body-card {
        .body-card__icon {
            svg {
                width: 75px;
                height: 75px;
            }
        }

        .body-card__description {
            text-wrap: balance;
        }
    }
}

[data-bs-theme="dark"] {
    .header {

        .border-bottom {
            height: 1.42rem;

            svg {
                color: $gray-800;
                height: 1.2rem;
                width: 100%;
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    .header {
        .content {
            .content__info {
                text-align: center;
            }

            .image-main {
                display: none;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .header {
        .content {
            .btn-try-it-out {
                width: 100%;
            }
        }
    }
}