{% extends 'base.html.twig' %}
{% block title %}
{{ pageTitle }}
{% endblock %}
{% block body %}
<main class="container-sm  mt-5  pt-5">
    <section class="row  no-gutters">
        <div class="col col-xl-10  offset-xl-1">
            {{ component('GroupUsersHomeSectionComponent', { data: groupUsersHomeSectionComponent }) }}
        </div>
    </section>
</main>
{% endblock %}