{% extends 'base.html.twig' %}
{% block title %}
{{ pageTitle }}
{% endblock %}
{% block body %}
<main class="container-sm  mb-5">
    <section class="row">
        <div class="col col-xxl-10">
            {{ component('LegalNoticeComponent', { data: legalNoticeComponentDto }) }}
        </div>
    </section>
</main>
{% endblock %}