.group-users-list-item__image {
    width: 75px;

    svg {
        width: 100%;
        height: auto;
    }
}

.group-user-list-item__button-grants {
    max-width: 90px;

    svg {
        width: 24px;
        height: 24px;
    }
}

.group-user-list-item__button {

    svg {
        width: 24px;
        height: auto;
    }

    &--menu {
        width: 100%;
    }
}

@include media-breakpoint-down(sm) {
    .group-users-list-item__image {
        display: none !important;

    }
}