.group-users-list-item__image {
    width: 75px;

    svg {
        width: 100%;
        height: auto;
    }
}

.group-user-list-item__button-grants {
    svg {
        width: 24px;
        height: 24px;
    }
}