<div data-controller="AlphanumericFilterComponent"
     data-action="AlphanumericFilterComponent:setLetterFilter->AlphanumericFilterComponent#handleMessageSetLetterFilter
                  AlphanumericFilterComponent:loadLetters->AlphanumericFilterComponent#handleMessageLoadLetters">
    <ul class="pagination  pagination-sm  justify-content-center  flex-wrap  row-gap-1  column-gap-1">

        {% for letter in constant('LETTERS_FILTER', this) %}

        <li class="page-item"
            style="width: 38px">
            <button type="button"
                    class="btn  btn-outline-primar  rounded-0  w-100"
                    data-bs-toggle="button"
                    aria-pressed="false"
                    data-letter-filter
                    disabled>
                {{ letter }}
            </button>
        </li>

        {% endfor %}

    </ul>

</div>