[data-bs-theme="light"] {
    .navbar {
        .nav-link.active {
            background-color: $gray-100;
            color: $dark;
        }
    }
}


[data-bs-theme="dark"] {
    .navbar {
        .nav-link.active {
            background-color: $gray-850;
        }
    }
}


.navbar {
    background-color: $black;

    .nav-link {
        &:hover {
            background-color: $gray-800;
        }
    }

    .offcanvas {

        .offcanvas-body {
            .nav-link.active {
                background-color: $gray-800;
                border-bottom: 1px solid $white;
                color: $white;
            }
        }
    }

    &__theme-switch {
        color: $white;
        border: 0;
        border-left: 1px solid $gray-700;

        svg {
            height: 18px;
            width: 18px;
        }

        &:hover {
            color: $white;
        }
    }

    &__language-switch {
        color: $white;
        border: 0;
        border-left: 1px solid $gray-700;

        svg {
            height: 18px;
            width: 18px;
        }

        &:hover {
            color: $white;
            background-color: $gray-700;
        }
    }

    &__user-profile {
        color: $white;
        border: 0;
        border-left: 1px solid $gray-700;
        text-decoration: none;

        .user-profile__name {
            margin-left: 5px;
        }

        svg {
            height: 24px;
            width: 24px;
        }

        img {
            height: 30px;
            width: 30px;
        }

        &:hover {
            color: $white;
            background-color: $gray-700;
        }
    }

    .navbar-toggler-button {
        outline: none !important;
        box-shadow: none;
        border-right: 1px solid $gray-700 !important;

        &:hover {
            background-color: $gray-700;
        }
    }

    .navbar-back-button {
        color: $white;
        border-right: 1px solid $gray-700 !important;

        svg {
            height: 18px;
            width: 18px;
        }

        &:hover {
            background-color: $gray-700;
        }
    }
}

@include media-breakpoint-down(md) {
    .navbar {

        &__user-profile {
            .user-profile__name {
                display: none;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .navbar {

        .offcanvas {
            display: none;
        }
    }
}