<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand"
		   href="#">

			{{ include('Components/NavigationBar/img/website-icon.svg') }}

			{{ data.title }}
		</a>

		<button class="navbar-toggler"
				type="button"
				data-bs-toggle="offcanvas"
				data-bs-target="#offcanvasDarkNavbar"
				aria-controls="offcanvasDarkNavbar">

			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="offcanvas offcanvas-start text-bg-dark"
			 tabindex="-1"
			 id="offcanvasDarkNavbar"
			 aria-labelledby="offcanvasDarkNavbarLabel">

			<div class="offcanvas-header">
				<h5 class="offcanvas-title"
					id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>

				<button type="button"
						class="btn-close btn-close-white"
						data-bs-dismiss="offcanvas"
						aria-label="Close"></button>
			</div>

			<div class="offcanvas-body">
				<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
					{% for section in lang.sections %}
					<li
						class="nav-item btn btn-dark rounded-0 border-secondary border-top-0 border-bottom-0 border-start-0">
						<a class="nav-link active"
						   aria-current="page"
						   href="#">{{ section }}</a>
					</li>
					{% endfor %}
			</div>
		</div>
	</div>

	</div>
</nav>