{% extends "Components/HomeSection/ItemInfo/ItemInfoComponent.html.twig" %}

{% block imageBelow %}

<span class="me-auto  ms-2  badge  rounded-pill  text-bg-success"
      hidden
      data-js-user-admin>
    {{ lang.adminLabel }}
</span>

{% endblock imageBelow %}