<div data-controller="ShopListComponent">

	{{ component('ListComponent', { data: shopDto }) }}
	{{ component('PaginatorComponent', { data: data.paginatorDto }) }}
	{{ component('ModalComponent', { data: shopRemoveModalDto }) }}
	{{ component('ModalComponent', { data: shopModifyModalDto }) }}
</div>