<div data-controller="PaginatorContentLoaderJsComponent"
     data-action="PaginatorJsComponent:onPageChange->PaginatorContentLoaderJsComponent#handleMessagePageChange
                  PaginatorContentLoaderJsComponent:onInitialize->PaginatorContentLoaderJsComponent#handleMessageInitialize">

     {{ component('ContentLoaderJsComponent', { data: data.contentLoaderJsDto } ) }}

     <div class="mt-5">
          {{ component('PaginatorJsComponent', { data: data.paginatorJsDto } ) }}
     </div>
</div>