<div data-controller="PaginatorContentLoaderJsComponent"
     data-action="PaginatorJsComponent:changePage->PaginatorContentLoaderJsComponent#handleMessageChangePage
                  PaginatorContentLoaderJsComponent:initialize->PaginatorContentLoaderJsComponent#handleMessageInitialize
                  ModalComponent:beforeShowed->PaginatorContentLoaderJsComponent#handleMessageBeforeShowed"
     data-modal-component-content>

     {{ component('ContentLoaderJsComponent', { data: data.contentLoaderJsDto } ) }}

     <div class="mt-5">
          {{ component('PaginatorJsComponent', { data: data.paginatorJsDto } ) }}
     </div>
</div>