<div data-controller="PaginatorContentLoaderJsComponent"
     data-action="PaginatorJsComponent:changePage->PaginatorContentLoaderJsComponent#handleMessageChangePage
                  PaginatorContentLoaderJsComponent:initialize->PaginatorContentLoaderJsComponent#handleMessageInitialize
                  ModalComponent:beforeShowed->PaginatorContentLoaderJsComponent#handleMessageBeforeShowed
                  AlphanumericFilterComponent:changeLetterFilter->PaginatorContentLoaderJsComponent#handleMessageChangeLetterFilter"
     data-modal-component-content>

     <div class="mb-2">
          {{ component('AlphanumericFilterComponent' ) }}
     </div>

     <hr>

     {{ component('ContentLoaderJsComponent', { data: data.contentLoaderJsDto } ) }}

     <div class="mt-5">
          {{ component('PaginatorJsComponent', { data: data.paginatorJsDto } ) }}
     </div>
</div>