<div data-controller="ContentLoaderJsComponent"
     data-action="ContentLoaderJsComponent:onContentChange->ContentLoaderJsComponent#handlerContentLoaderJsChange"
     data-endpoint-name="{{ data.endpointName }}"
     data-endpoint-query-params="{{ queryParametersJson|escape('html_attr') }}"
     data-endpoint-response-index-name="{{ data.responseIndexName }}">

     <div data-js-container>
     </div>

     <template data-js-placeholder-template
               aria-hidden="true">
          <div class="d-flex  flex-row  placeholder-content  align-items-center  placeholder-glow">
               <div class="placeholder  col-2  me-2  placeholder-content__image"></div>
               <span class="placeholder  col-6  placeholder-content__text"></span>
          </div>
          <div class="d-flex  flex-row  mt-1  placeholder-content  align-items-center  placeholder-glow">
               <div class="placeholder  col-2  me-2  placeholder-content__image"></div>
               <span class="placeholder  col-4  placeholder-content__text"></span>
          </div>
          <div class="d-flex  flex-row  mt-1  placeholder-content  align-items-center  placeholder-glow">
               <div class="placeholder  col-2  me-2  placeholder-content__image"></div>
               <span class="placeholder  col-6  placeholder-content__text"></span>
          </div>
          <div class="d-flex  flex-row  mt-1  placeholder-content  align-items-center  placeholder-glow">
               <div class="placeholder  col-2  me-2  placeholder-content__image"></div>
               <span class="placeholder  col-3  placeholder-content__text"></span>
          </div>
     </template>
</div>