.product-list-item__image {
    width: 75px;

    svg {
        width: 100%;
        height: auto;
    }
}

.product-list-item__button {
    max-width: 90px;

    svg {
        width: 24px;
        height: auto;
    }
}