.product-list-item__image {
    width: 75px;
    height: 75px;

    svg {
        width: 100%;
        height: auto;
    }
}

.product-list-item__button {

    svg {
        width: 24px;
        height: auto;
    }

    &--menu {
        width: 100%;
    }
}

@include media-breakpoint-down(sm) {
    .product-list-item__image {
        display: none;
    }
}