[data-controller="OrderHomeSectionComponent"] {

    [data-controller="ButtonLoadingComponent"] {
        @extend .rounded-1;
    }

    .order-bought-price {
        color: var(--bs-primary);
    }

    .order-bought-separator {
        margin-right: 0;
        margin-left: auto;
    }
}