<div data-controller="OrderHomeSectionComponent"
     class="contaniner">

    {{ component('HomeSectionComponent', { data: data.homeSectionComponentDto } ) }}
    {{ component('ModalComponent', { data: data.listItemsModalDto } ) }}
    {{ component('ModalComponent', { data: data.orderInfoModalDto } ) }}
</div>