[data-bs-theme="light"] {
    .background {
        background-color: $gray-100;

        .background__main-layer {
            background-color: $white;
            margin-top: 90px;
        }
    }
}

[data-bs-theme="dark"] {
    .background {
        background-color: $gray-850;

        .background__main-layer {
            background-color: $gray-800;
            margin-top: 90px;

        }
    }

    .btn-outline-primary {
        color: $primary-dark;

        &:hover {
            color: var(--bs-btn-hover-color);
        }
    }



    .btn-outline-danger {
        color: $danger-dark;

        &:hover {
            color: var(--bs-btn-hover-color);
        }
    }

    .btn-outline-success {
        color: $success-dark;

        &:hover {
            color: var(--bs-btn-hover-color);
        }
    }

    .btn-secondary {
        background-color: $gray-850;
    }

    .primary-color-dark {
        color: $primary-dark;
    }

    .text-secondary {
        color: $gray-500 !important;
    }

}