{% extends 'base.html.twig' %}

{% block title %}
{{ pageTitle }}
{% endblock %}

{% block body %}
<main class="container-sm  mt-5  pt-5">
    <section class="row  no-gutters">
        <div class="col col-xl-8  offset-xl-2">
            {{ component('ProfileComponent', { data: ProfileComponent }) }}
        </div>
    </section>
</main>
{% endblock %}