<div data-controller="GroupUsersHomeSectionComponent"
     class="contaniner">

    {{ component('HomeSectionComponent', { data: data.homeSectionComponentDto } ) }}
    {{ component('ModalComponent', { data: data.groupUsersInfoModalDto } ) }}
</div>