<div data-controller="HomeListComponent">

	{{ component('ListComponent', { data: homeListDto }) }}

	<div class="mt-5">
		{{ component('PaginatorComponent', { data: data.homeListPaginatorDto }) }}
	</div>

	{{ component('ModalComponent', { data: data.homeListItemRemoveFormModalDto }) }}
	{{ component('ModalComponent', { data: data.homeListItemModifyFormModalDto }) }}
</div>