{% extends 'base.html.twig' %}
{% block title %}
{{ pageTitle }}
{% endblock %}
{% block body %}
<main class="container-sm  mb-auto">
    <section class="row  no-gutters">
        <div class="col col-xxl-10  offset-xxl-1">
            {{ component('ShopHomeSectionComponent', { data: shopHomeSectionComponent }) }}
        </div>
    </section>
</main>
{% endblock %}