.list-group-item {
    .shop-list-item__image {
        width: 75px;
        height: 75px;

        svg {
            width: 100%;
            height: auto;
        }
    }

    .shop-list-item__button {
        max-width: 90px;

        svg {
            width: 24px;
            height: auto;
        }
    }
}

@include media-breakpoint-down(sm) {
    .list-group-item {
        .shop-list-item__image {
            width: 60px;
            height: 60px;
        }
    }
}