.list-group-item {
    .shop-list-item__image {
        width: 75px;
        height: 75px;

        svg {
            width: 100%;
            height: auto;
        }
    }

    .shop-list-item__button {

        svg {
            width: 24px;
            height: auto;
        }

        &--menu {
            width: 100%;
        }
    }
}

@include media-breakpoint-down(sm) {
    .list-group-item {
        .shop-list-item__image {
            display: none;
        }
    }
}