.info-modal {
    .info-modal__icon {

        svg {
            width: 75px;
            height: 75px;
        }

        &--warning {
            color: $warning;
        }

        &--info {
            color: $info;
        }
    }
}