<div data-controller="InfoModalComponent">

    {{ component('TitleComponent', { data: titleDto } ) }}

    <div class="d-flex  flex-row  align-content-center  justify-content-center  px-4  pb-5  info-modal">

        {% if this.getType == 'warning' %}

        <div class="info-modal__icon">
            {% include "warning-icon.svg" %}
        </div>

        {% endif %}

        <p class="ms-3">
            {{ data.content }}
        </p>
    </div>

    <div class="d-flex  justify-content-end  mt-5">
        <button type="button"
                class="btn btn-primary  flex-grow-1"
                title="{{ lang.closeButtonTitle }}"
                data-bs-dismiss="modal">
            {{ lang.closeButtonLabel }}
        </button>
    </div>
</div>