<div data-controller="ProductCreateAjaxComponent"
	 data-action="ModalComponent:beforeShowed->ProductCreateAjaxComponent#handleMessageBeforeShowed"
	 data-group-id="{{ data.groupId }}"
	 data-modal-component-content>

	{% set langDto = lang %}
	{% component ProductCreateComponent with { data: data.productCreateComponentDto } %}

	{% block validation %}
	{{ component('AlertValidationComponent', { data: alertValidationDto }) }}
	{% endblock validation %}

	{% block shops %} {% endblock shops %}

	{% block buttons %}

	<button type="button"
			class="btn  btn-transparent  d-flex  flex-row  align-items-center  me-4"
			data-js-back-button>

		{% include "arrow-back-icon.svg" %}

		<span class="align-text-top">
			{{ langDto.backButtonLabel }}
		</span>
	</button>

	{{ component('ButtonLoadingComponent', { data: productCreateButtonDto })}}

	{% endblock buttons %}

	{% endcomponent %}

</div>