<div data-controller="GroupHomeSectionComponent"
     class="contaniner">

    {{ component('HomeSectionComponent', { data: data.homeSectionComponentDto } ) }}
    {# {{ component('ModalComponent', { data: data.listItemsModalDto } ) }} #}
</div>