<nav class="paginator-js"
	 data-controller="PaginatorJsComponent"
	 data-action="PaginatorJsComponent:pagesTotal->PaginatorJsComponent#handlerPagesTotalEvent"
	 aria-label="Page navigation"
	 data-pages-total="{{ data.pagesTotal }}"
	 data-page-current="{{ data.pageCurrent }}"
	 data-page-previous-text="{{ lang.previous }}"
	 data-page-next-text="{{ lang.next }}">

	<ul class="pagination  justify-content-center"
		data-js-paginator-container>
	</ul>
</nav>