{% extends 'base.html.twig' %}
{% block title %}
{{ pageTitle }}
{% endblock %}
{% block body %}
<div class="container  mt-5">
	<div class="row  no-gutters">
		<div class="col col-lg-6  offset-lg-3">
			{{ component('PasswordRememberComponent', { data: PasswordRememberComponent }) }}
		</div>
	</div>
</div>
{% endblock %}